{% comment %}
Create and populate a category in collection filter

Accepts:
- tags: {Array} Array of Product Tags Liquid Object (required)
- category: {String} Name of category used to filter tags (required)

Usage:
{% render 'filter-category', tags: collection.all_tags, category: prefix %}
{% endcomment%}

<li class="filter__category category">
    <h3 class="category__title">{{category | capitalize}}</h3>
    <fieldset class="category__input-group">
        <legend class="visually-hidden">Filter by {{category}}</legend>

        {% for tag in tags %}
            {% assign parsedTag = tag | split: settings.filter__separator %}
            {% assign prefix = parsedTag[0] | downcase %}

            {% if prefix == category %}

                {% assign tagHandle = tag | handleize %}

                <label class="category__label">
                    <input 
                        type="checkbox" 
                        class="category__checkbox" 
                        {% if request.path contains tagHandle %}
                            checked
                        {% endif %}
                        data-handle="{{tagHandle}}"
                    >
                    {{parsedTag[1] | capitalize}}
                    <span class="category__tag-count" data-tag='{{tag}}'></span>
                </label>
                
            {% endif %}
        {% endfor %}
    </fieldset>
</li>
