{% comment %}
Create and populate a category in collection filter

Accepts:
- tags: {Array} Array of Product Tags Liquid Object (required)
- category: {String} Name of category used to filter tags (required)

Usage:
{% render 'filter-category', tags: collection.all_tags, category: prefix %}
{% endcomment%}

<div class="filter__category category">
    <h3 class="category__title">{{category | capitalize}}</h3>

    <ul class="category__list">
        {% for tag in tags %}
            {% assign parsedTag = tag | split: settings.filter__separator %}
            {% assign prefix = parsedTag[0] | downcase %}
            {% if prefix == category %}

                {% assign tagHandle = tag | handleize %}
                <li class="category__list-item">
                    <label class="category__label">
                        <input 
                            type="checkbox" 
                            class="category__checkbox" 
                            {% if request.path contains tagHandle %}
                                checked
                            {% endif %} 
                            data-add-tag='{{tag | link_to_add_tag: tag}}' 
                            data-remove-tag='{{tag | link_to_remove_tag: tag}}'
                        >
                        {{parsedTag[1] | capitalize}}
                        <span class="category__tag-count" data-tag='{{tag}}'></span>
                    </label>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

