{% comment %}
Creates a product card

Accepts:
- product: {Object} Product Liquid Object (required)
- collection: {Object} Collection Liquid Object (optional)
- class: {String} Name of class for additional styling (optional)

Usage:
{% render 'product-card', product: collection.products[0], class: 'collection__product'%}
{% endcomment %}

{% capture url %}
    {% if collection %}
        {{product.url | within: collection }}
    {% else %}
        {{product.url}}
    {% endif %}
{% endcapture %}

<article class="product-card {{class}}">
    <div class="product-card__img">
        <a href="{{url}}" class="product-card__link">
            {% render 'responsive-img', img: product.images[0] %}
        </a>
    </div>
    <div class="product-card__details">
        <a href="{{url}}" class="product-card__title-link link link--product">
            <h2 class="product-card__title">{{product.title}}</h2>
        </a>
        <p class="product-card__price">
            {% if product.price_varies %}
                <span class="product-card__price--prefix">from</span>
            {% endif %}
        {{product.price | money}}
        </p>
    </div>
    {% if product.available %}
        <button class="product-card__btn product-card__btn--cart btn btn--default" data-variant-id="{{product.first_available_variant.id}}">Add to cart</button>
    {% else %}
        <button class="product-card__btn product-card__btn--oos btn btn--disabled">Sold out</button>
    {% endif %}
</article>
