{% comment %}
Creates a modal thats a mini product page

Accepts:
- handle: {String} handle of product

Usage:
{% render 'quickview', type: 'cart', product: product' %}
{% endcomment %}

{% assign product = all_products['boba-box'] %}

{%- capture content -%}
<section class="quickview">
    <div class="quickview__slideshow-wrapper">
        {% render 'slideshow', media: product.media %}
    </div>
    <article class="quickview__content">
        <h2 class="quickview__title">{{product.title }}</h2>
        <p class="quickview__price">{{product.price_min | money}}</p>
        <section class="quickview__order">
            {% for option in product.options_with_values %}
                {%- capture id -%}option{{forloop.index}}{%- endcapture -%}
                <section class="quickview__option">
                    <label for="{{id}}" class="quickview__option-label">{{option.name}}</label>
                    <div class="quickview__option-container">
                        <select id="{{id}}" class="quickview__option-dropdown">
                            {% for value in option.values %}
                                <option value='{{value}}'>{{value}}</option>
                            {% endfor %}
                        </select>
                        <div class="quickview__caret-wrapper">
                            {% render 'icon-caret-down' %}
                        </div>
                    </div>
                </section>
            {% endfor %}

            {% render 'quantity', classes: 'quickview__quantity' %}
            
            <button class="quickview__cart btn btn--default">Add to cart</button>
        </section>
    </article>

</section>
{%- endcapture -%}

{% render 'modal', type: 'quickview', content: content %}

<script>
    {% comment %} console.log(`
        {{product.options | json}}
        `) {% endcomment %}
</script>