<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  {% if template contains 'collection' %}
    {{ 'loadmore.js' | asset_url | script_tag}}
    {{ 'collection.js' | asset_url | script_tag}}
  {% endif %}

<style>
  {{ settings.font__heading | font_face }}
  {{ settings.font__body | font_face }}
</style>

</head>
<body>

  {% section 'header' %}

  <main class="page">
    {{content_for_layout}}  
  </main>

  <button class="fab fab__scroll-up">
    {% render 'icon-caret-up' %}
  </button>

  {% render 'css-variables' %}

  <script>
    document.querySelector('.fab__scroll-up').addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      })
    })
  </script>
</body>
</html>
