{% assign product = all_products[section.settings.featured-product] %}

<section class="featured-product">
    <div class="featured-product__slideshow slideshow">
        {% include 'responsive-img', img: product.images[0], class: 'slideshow__current-img' %}
        
        <div class="featured-product__slideshow slideshow__thumbnails">  
            {% for img in product.images %}
                {% include 'responsive-img', img, class: 'slideshow__thumbnail' %}
            {% endfor %}
        </div>
    </div>
    <div class="featured-product__wrapper">
        <div class="featured-product__details">
            <h3 class="featured-product__title">{{product.title}}</h3>
            <p class="featured-product__price">{{product.price | money}}</p>

            {% unless product.has_only_default_variant %}
                <div class="variant">
                    <div class="variant__styled" aria-hidden="true">
                        <span class="variant__current">{{product.first_available_variant.title}}</span>
                        <button class="variant__caret btn btn__select">
                            {% include 'icon-caret-down' %}
                        </button>
                    </div>
                    <div class="variant__wrapper">
                        <label for="variant" class="variant__label">
                            <select name="variant" class="variant__input">
                                {% for variant in product.variants %}
                                    {% if variant.available %}
                                        <option value="{{variant.id}}">{{variant.title}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
            {% endunless %}
            
            <p class="featured-product__description">
                {{product.description | truncatewords: 30 }} 
                <a href="{{product.url}}" class="featured-product__details-link link">View details</a>
            </p>
            
        </div>
        <div class="featured-product__btn-wrapper">
            {% if product.available %}
                <button class="featured-product__btn btn btn--primary">Add to cart</button>
            {% else %}
                <button class="featured-product__btn btn btn--disabled" disabled>Sold Out</button>
            {% endif %}
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.slideshow__thumbnail').classList.toggle('slideshow__thumbnail--selected');
    })
    const thumbnails = document.querySelectorAll('.slideshow__thumbnail');
    const currentImg = document.querySelector('.slideshow__current-img');
    thumbnails.forEach(thumbnail => {
        thumbnail.addEventListener('click', () => {
           currentImg.removeAttribute('src');
           currentImg.srcset = thumbnail.srcset;
           currentImg.alt = thumbnail.alt;
           document.querySelector('.slideshow__thumbnail--selected').classList.toggle('slideshow__thumbnail--selected');
           thumbnail.classList.toggle('slideshow__thumbnail--selected')
        })
    })
</script>


{% schema %}
    {
        "name": "Featured Product",
        "settings": [
            {
                "type": "product",
                "id": "featured-product",
                "label": "Featured Product"
            }
        ],
        "presets": [
            {
                "name": "Featured Product",
                "category": "Product"
            }
        ]
    }
{% endschema %}