<!-- {% paginate collection.products by 20 %}
  <h1>{{ collection.title }}</h1>
  {% for product in collection.products %}
    <div>
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      {{ product.price | money }}
      {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    </div>
  {% else %}
    <p>no matches</p>
  {% endfor %}
  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
{% endpaginate %} -->


//{% assign products = collection.products %}
<section class="collection">

  <div class="breadcrumb">breadcrumb</div>

  <h1 class="collection__title">{{collection.title}}</h1>
  <p class="collection__description">{{collection.description}}</p>
  
  <div class="collection__controls">
    <span class="collection__count">{{collection.products_count}} products</span>
    <span>filter</span>
  </div>

  {% paginate collection.products by 12 %}
    <div class="collection__products">
    {% for product in collection.products %}
      {% render 'product-card', product: product, class: 'collection_product' %}
    {% endfor %}
    </div>
    
    {% if paginate.pages > 1 %}
      <button class="collection__btn btn btn--primary">Load more</button>
    {% endif %}

  {% endpaginate %}

</section>